.venv/
__pycache__/
*.pyc
.env

# Data files
data/*
!data/*.dvc
!data/**/*.dvc
!data/.gitkeep
!data/README.md

.dvc/tmp/
.dvc/cache/
wandb/
outputs/
dist/

# allow Hydra configs
!configs/
!configs/**
/outputs

# Reports
reports/``
# allow DVC metadata in data/artifacts
!data/artifacts/**/*.dvc
!data/artifacts/**/.gitignore

# Codebase from npx ai-digest
codebase.md
# allow evaluation csv/txt
!reports/**/ *.csv
!reports/**/ *.txt
